body {
    text-align: center;
}

head {
    text-align: center;
}

#st.xavier school {
    height: 50px;
    width: 75px;
}

#video {
    width:100%;
}
hr
{
    width: 50%;
    color:black;
}
#name
{
    font-size:50px;
}
